/**/
@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600,700);
/* 'Signika', sans-serif */
input {
	outline:  none !important;
}
html {
	width: 100%;
}
* {
	-webkit-text-size-adjust: none;
}
body {
	font: 13px/19px  Arial, Helvetica, sans-serif;
	color:#ecedef;
	position:relative;
	min-width:960px;
	background: #334960;
}
/*typography*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Signika', sans-serif;
	color: #ecedef;
}
h2 {
	font-size: 60px;
	padding-top: 101px;
	line-height: 60px;
	text-align: center;
}
h3 {
	font-size: 48px;
	line-height: 54px;
}
p {
    font-size: 24px;
    line-height: 30px;
	margin: 20px;
	margin-left: 50px;
	margin-right: 50px; 
}
blockquote{
	font-size: 2em;
}
.selector {
	color: red;
}
.declaration {
	color: green;
}
/*images & video*/
img {
	max-width: 90%;
}
/*links*/
a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
a:hover {
	color: #334960;
}
/*lists*/
ul {
	text-decoration: none;
}
li {
	list-style: none;
	letter-spacing: 1px;
	padding: 10px;
}
/*Content*/
.content {
	padding-top: 125px;
	text-align: center;
	position: relative;
}
.content:after {
	display: block;
	position: absolute;
	content: '';
	z-index: 1;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 37px 50px 0 50px;
	border-color: #334960 transparent transparent transparent;
	left: 50%;
	margin-left: -50px;
	top: 0;
}
.page3:after {
	border-color: #f17c72 transparent transparent transparent;
}
.page4:after {
	border-color: #32ac97 transparent transparent transparent;
}
.page5:after {
	border-color: #7f4c76 transparent transparent transparent;
}
.page1 {
	padding-bottom: 191px;
}
.page2 {
	background-color: #f17c72;
	padding-top: 230px;
	padding-bottom: 500px;
	padding-bottom: 190px;
}
.page3 {
	background-color: #32ac97;
	padding-top: 230px;
}
.page4 {
	background-color: #7f4c76;
}
.page5 {
	background-color: #3f9fc9;
}
.slogan h3 {
	margin-bottom: 30px;
}
.page2 h3 span {
	background-color: #2aae96;
}
.page2 h3 span, .page2 h3 em {
	display: inline-block;
	padding: 0 3px;
}
.page2 h3 em {
	font-style: normal;
	background-color: #7f4c76;
}
.text1 {
	font-size: 19px;
	line-height: 19px;
}
.box {
	background-color: #e6655e;
	border: 3px solid #f4948b;
	padding: 23px 0 24px;
	border-top-width: 4px;
	border-bottom-width: 4px;
}
.box img {
	border: 3px solid #f4948b;
	border-radius: 500px;
	margin-bottom: 19px;
}
.box .text1 {
	margin-bottom: 1px;
}
.slogan {
	margin-bottom: 117px;
}
.page3  {
	padding-bottom: 190px;
}
.page3 .box {
	color: #fff;
	background-color: #46dcc7;
	border-color: #99d6cb;
	padding: 22px 15px 27px;
}
.page3 .box img {
	margin-bottom: 21px;
	border-color: #c8f5ee;
	background-color: #334960;
}
.page3 .box .text1 {
	margin-bottom: 16px;
}
.page4 {
	padding-top: 231px;
	padding-bottom: 186px;
}
.page4  h3 {
	margin-bottom: 38px;
}
.page5 {
	padding-top: 230px;
	padding-bottom: 190px;
}
.page5 .slogan {
	margin-bottom: 110px;
}
/************Footer***********/
footer {
	display: block;
}
footer {
}
footer a:hover {
	color: #f17c72;
}
.copy {
	color: #e0e8ec;
	padding-top: 29px;
	padding-bottom: 30px;
	font-size: 12px;
	line-height: 24px;
}
/*********** E X T R A ***********/
.wireframe img {
	max-width: 300px;
}
.photoshop {
	font-size: 1.7em;
	padding-bottom: 20px;
}